rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Setiap user hanya boleh baca/tulis dokumen di dalam folder miliknya sendiri:
    // users/{uid_dia}/semesters/..., users/{uid_dia}/mataKuliah/..., users/{uid_dia}/tugas/...
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
